* {
    background-color: darkkhaki;
    color: black;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
body {
    font-family: 'Comfortaa';
    text-align: center;
    margin: 20px;
}

button {
    font-family: 'Comfortaa';
    background-color:black;
    color: white;
    text-align: center;
}

button:hover {
    background-color:black;
    color: white;
}

.navbar {
    font-family: 'Courier New', Courier, monospace;
    background-color: darkkhaki;
    color: black;
}

.navbar:scrolldown {
    background-color: black;
    color:white;
}

.navbar a {
    text-align: center;
    float: center;
    font-size: 20;
